@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;700;900&family=Nova+Square&family=Quicksand:wght@300;400;700&display=swap');

/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Nova Square', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Fontes */
    --ff-title: 'Nova Square', sans-serif;
    --ff-subtitle: 'Quicksand', sans-serif;
    --ff-text: 'Exo 2', sans-serif;

    /* CSS HEX */
    --smoky-black: #100b00ff;
    --yellow-green: #85cb33ff;
    --nyanza: #efffc8ff;
    --ash-gray: #a5cbc3ff;
    --drab-dark-brown: #3b341fff;
}

html{
    font-size: 16px;
    font-family: var(--ff-text);
    scroll-behavior: smooth;
}

body{
    background-color: var(--smoky-black);
    color: var(--nyanza);
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

a, li{
    text-decoration: none;
    list-style: none;
    color: var(--nyanza);
}

.headerContainer{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.452);
}

.headerContent{
    max-width: 1200px;
    padding: 1rem 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    font-family: var(--ff-title);
}

.navBar{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--ff-subtitle);
}

.btn{
    background-color: var(--yellow-green);
    color: var(--drab-dark-brown);
    padding: .5rem;
    border-radius: 30px;
    transition: all .3s;
}

.btn:hover{
    background-color: var(--ash-gray);
    color: var(--smoky-black);
}

.hero{
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
}

.hero h1{
    font-family: var(--ff-title);
    color: var(--yellow-green);
}