@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;700;900&family=Nova+Square&family=Quicksand:wght@300;400;700&display=swap");

/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Nova Square', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/* GLOBAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fontes */
  --ff-title: "Nova Square", sans-serif;
  --ff-subtitle: "Quicksand", sans-serif;
  --ff-text: "Exo 2", sans-serif;

  /* CSS HEX */
  --smoky-black: #100b00ff;
  --yellow-green: #85cb33ff;
  --nyanza: #efffc8ff;
  --ash-gray: #a5cbc3ff;
  --drab-dark-brown: #3b341fff;

  --gradColor1: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  --gradColor2: linear-gradient(to right, #8e9eab, #eef2f3);
}

html {
  font-size: 16px;
  font-family: var(--ff-text);
  scroll-behavior: smooth;
}

/* 

background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );

*/

body {
  /* background-color: var(--smoky-black); */

  color: var(--nyanza);
  overflow-x: clip;
  background: radial-gradient(
    #1a1a1a,
    #000000,
    #434343
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.arrowTop img {
  background-color: rgba(132, 203, 51, 0.3);
  border-radius: 50%;
  padding: 0.5rem;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.arrowTop img:hover {
  background-color: var(--ash-gray);
  color: var(--smoky-black);
}

p {
  text-indent: 2rem;
  text-align: justify;
}

.sectionBg {
  /* background-image: var(--gradColor1); */
  color: var(--nyanza);
}

section {
  margin-top: 17vh;
  font-size: 1.5rem;
  min-height: 30vh;
  padding: 3rem 0;
}

h2 {
  align-self: first baseline;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: var(--nyanza);
}

.title {
  color: var(--yellow-green);
}

/* HEADER */

.headerContainer {
  /* position: sticky;
  
  top: 0; */
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.headerContent {
  max-width: 80%;
  height: 17vh;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--ff-title);
  font-size: 1.5rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

.mobileMenuBtn {
  display: none;

  cursor: pointer;
  padding: 10px;
}

.mobileMenu {
  display: none;
}

nav {
  overflow: hidden;
  transition: 0.3s;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--ff-subtitle);
  font-size: 1.5rem;
}

.navLink {
  transition: all 0.5s ease;
}

.navLink:hover {
  transform: translateY(-3px);
}

.btn {
  background-color: var(--yellow-green);
  color: var(--drab-dark-brown);
  padding: 0.5rem;
  border-radius: 30px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--ash-gray);
  color: var(--smoky-black);
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #85cb33ff 0%,
    #2ebd50 51%,
    rgb(116, 190, 32) 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--drab-dark-brown);
  box-shadow: 0 0 2px #eeeeee3f;
  border-radius: 50px;
  display: block;
}

.btn-grad:hover {
  background-position: top right; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* MAIN SECTION */

.heroBg {
  background-image: url(assets/bg-dark.jpg);
  background-size: cover;
  background-position: center 40%;
  box-shadow: 2px 2px 2rem rgba(0, 0, 0, 0.6);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 5rem;
  font-family: var(--ff-title);
  color: var(--yellow-green);

  opacity: 0; /* Start with the text invisible */
}

/* HERO ANIMATION */

.heroContent h1 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
  /* Optional: You can add a slight translateY for a subtle upward motion effect */
  animation: appearAnimation 0.5s ease forwards;
}

@keyframes appearAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h2 {
  font-size: 4rem;
}

.hero h4 {
  font-size: 3rem;
}

.about {
  backdrop-filter: blur(3px);
  line-height: 1.5;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.aboutSide {
  width: 50%;
}

.profileImg {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.skillsBg {
  background-size: cover;
  background-position: center 50%;
}

.mySkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.imgPrev {
  top: -50px;
  left: -35px;
  display: block;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*change the number below to scale to the appropriate size*/
.imgPrev:hover {
  transform: scale(1.1);
}

.skillItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skillItem img {
  width: 128px;
}

.projectsTitle {
  margin-bottom: 2rem;
}

.projectContainer {
  display: flex;
  gap: 2rem;
}

.projectScreen {
  max-width: 100%;
  height: 30vh;
  border-radius: 10px;
}

.contact {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.contactTitle {
  font-size: 2rem;
  max-width: 70%;
  text-align: center;
}

.call {
  padding: 2rem;
  font-size: 2rem;
  width: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5rem;
}
footer {
  width: 100%;
  min-height: 32vh;
  color: var(--nyanza);
}

.footerContent {
  min-height: 32vh;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.footerMain,
.footerNav,
.footerNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialLinks {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

footer {
  color: var(--nyanza);
  border-top: 1px solid rgba(255, 255, 255, 0.212);
}

footer img {
  width: 48px;
  height: 48px;
}

footer a {
  color: var(--nyanza);
}
