.projectCard{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: var(--text-color);
    padding: .5rem;
    
    display: flex;
    align-items: end;

    cursor: pointer;

    position: relative;
    overflow: hidden;
    transition: .3s ease-in;
}

.projectCard:hover{
    background-color: var(--text-color);
    color: var(--background);
    animation: preencherCard .3s forwards;
    border: none;
}

.portfolioTitle{
    font-family: var(--ff-title);
    font-size: 3rem;
    font-weight: 900;
    text-decoration: none;
}

