.project-card{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    padding: .5rem;
    
    display: flex;
    align-items: end;

    cursor: pointer;

    
    transition: .3s ease-in;
}

.project-card:hover{
    background-color: var(--text-color);
    color: var(--background);
    animation: preencherCard .3s forwards;
    border: none;
}

.portfolioTitle{
    font-family: var(--ff-text2);
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
}

