.footer-bg{
    width: 100%;
    background-color: var(--text-color);
    color: var(--background);
    min-height: 20vh;
}
.footer-content{
    min-height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-header .title{
    font-size: 1.5rem;
    color: var(--highlight);
    
}

.footer-header{
    display: flex;
    justify-content: space-between;
    color: var(--highlight);
    align-items: center;
}

.footer-social{
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.social-icon{
    width: 32px;
    height: 32px;
    background-color: var(--highlight);    
    transition: .2s ease-in;
}

.social-icon:hover{
    scale: 1.1;
    background-color: var(--white);
}

.social-linkedin{
    -webkit-mask: url(/linkedin-in.svg) no-repeat center;
    mask: url(/linkedin-in.svg) no-repeat center;
}
.social-instagram{
    -webkit-mask: url(/instagram.svg) no-repeat center;
    mask: url(/instagram.svg) no-repeat center;
}
.social-github{
    -webkit-mask: url(/github-alt.svg) no-repeat center;
    mask: url(/github-alt.svg) no-repeat center;
}

.footer-main{
    display: flex;
    align-items: end;
}

.footer-line{
    margin: 3px auto;
    width: 100%;
    
    height: 1px;
    background-color: white;
}

.footer-message{
    height: 100%;
    font-family: var(--ff-text);
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.footer-message-author{
    font-family: var(--ff-text);
    font-weight: 100;
    color: rgba(255, 255, 255, 0.514);
}



