a,
li {
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;

}

.nav-bar {
  font-family: var(--ff-text);
  font-weight: 300;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 1rem;
}

/*  HOVER ANIMATION ON NAVBAR */

.nav-item {
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 0.5rem;
}

.nav-item::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--highlight);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}

.nav-item:hover::after {
  opacity: 1;
}
/* Scale from center animation on hover */

.nav-item::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav-item:hover::after,
.nav-item:focus::after {
  transform: scale(1);
}

.contact {
  background-color: var(--text-color);
  color: var(--background);
  padding: 0.7rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.contact:hover {
  background-color: var(--orange);
  color: var(--black);
}
